/*====================================== reset.css is here ========================================*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}
table {	border-collapse:collapse; border-spacing:0;}
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;}
ol,ul { list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {	font-size:100%;	font-weight:bold;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
.clear{clear:both; font-size:0px;line-height:0px; display:block;}
.last	{margin:0 !important;}
.pad_last{padding:0 !important;}
.no_bg {background:none !important;}
textarea:focus, input:focus{outline:none;}
/**************************************************************************************/
a											{color:#000; text-decoration:none; outline:0 none;}
a:hover										{color:#000;  text-decoration:none;}
h1											{font-size:24px;}
h2											{font-size:22px;}
h3											{font-size:18px;}
h4											{font-size:16px;}
h5											{font-size:14px;}
h6											{font-size:12px;}
/*----------------------------------------------------------------------------------*/
html 										{}
body										{color:#b1b1b1; font-family:"Arial", Verdana, Tahoma; font-size:12px;}
.flt_Lt										{float:left; display:inline;}
.flt_Rt										{float:right; display:inline;}
/* ---------------------------------------------------------------------------------*/


/* ----------------------- layout ----------*/
.wrapper									{margin:0 auto;}
.container									{width:980px; margin:0 auto;}
.maincontent								{}
#header										{width:100%;border-bottom:1px solid #cdcdcd;height:121px;}
.header 									{width:980px; margin:0 auto;}
/*-------------------------------------------*/

/* ------------------ HEADER HERE -------------------*/
#logo										{float:left;padding:35px 0 0 7px;}
#logo a 									{font-family:Arial, Helvetica, sans-serif;font-size:40px;font-weight:bold;color:#0099cc;line-height:1.1;display:block;}
/* ---------------------------------------------------------*/



/* ------------------------- NAVIGATION HERE ---------------*/
#nav										{float:right;padding:85px 0 19px 0;}
#nav ul										{display:inline;float:left;}
#nav ul li									{display:inline;float:left;padding:0 26px;}
#nav ul li a								{font-family:Arial, Helvetica, sans-serif;font-size:24px;color:#0099CC;text-transform:uppercase;}
#nav ul li a span							{}
#nav ul li a:hover							{text-decoration:underline;}

/* ---------------------------------------------------------*/

/* ------------------------ MIAN CONTENT HERE --------------*/
.banner-outer 								{width:100%;border-bottom:1px solid #cdcdcd;background:#efefef;}
.banner 									{text-align:center;border-bottom:1px solid #fff;border-top:1px solid #fff;}
.details 									{padding:25px 0 0 10px;margin:0 0 58px 0;}
.details lb                                                             {display:inline;float:left;width:225px;}
.details ul 								{display:inline;float:right;width:700px;}
.details ul li 								{display:inline;float:left;width:650px;margin:0 36px 0 0;}
.details ul li h2 							{font-family:"Trebuchet MS",Arial, Helvetica;font-size:24px;font-weight:normal;color:#0099cc;margin:0 0 20px 0;line-height:1;}
.details ul li p 							{font-family:Arial, Helvetica, sans-serif;font-size:18px;color:#333333;margin:0 0 18px 0;line-height:1.6;}
.details ul li p hh 							{font-family:Arial, Helvetica, sans-serif;font-size:18px;color:#333333}
.details ul li p le                                                       {font-family:Arial, Helvetica, sans-serif;font-size:18px;color:#333333;float:left;}
.details ul li p ri                                                       {font-family:Arial, Helvetica, sans-serif;font-size:18px;color:#333333;float:right;}
.details ul li 							{font-family:Arial, Helvetica, sans-serif;font-size:18px;color:#333333;}
.details ul li a 							{font-family:Arial, Helvetica, sans-serif;font-size:18px;color:#333333}
.details ul li a:hover						{text-decoration:underline;}

.blog 										{padding:0 0 45px 10px;}
.blog h3 									{font-family:"Trebuchet MS",Arial, Helvetica;font-size:24px;font-weight:normal;color:#0099cc;margin:0 0 25px 0;line-height:1;}
.blog h5 									{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#333333;text-decoration:underline;margin:0 0 2px 0;}
.blog p 									{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#333333;line-height:1.6;margin:0 0 25px 0;}
/* ---------------------------------------------------------*/


/* ------------------ FOOTER HERE --------------------------*/
#footer										{width:100%;border-top:1px solid #cdcdcd;background:#efefef;}
.footer 									{width:100%;border-top:1px solid #fff;border-bottom:1px solid #fff;}
.foot-inner 								{width:980px; margin:0 auto;padding:23px 0 28px 0;}
.social										{margin:0 0 0 10px;}
.social ul 									{display:inline;float:left;}
.social ul li 								{display:inline;float:left;margin:0 28px 0 0;}
.social ul li p 							{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#333333;}
.social ul li a 							{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#333333;padding:1px 0 0 22px;}
.social ul li a:hover 						{text-decoration:underline;opacity:0.9;}
.social ul li a.ico1 						{background:url(../images/rss-ico.png) no-repeat left top;}
.social ul li a.ico2 						{background:url(../images/twt-ico.png) no-repeat left top;}
.social ul li a.ico3 						{background:url(../images/f-ico.png) no-repeat left top;}
.foot-nav 									{padding:3px 0 0 0;}
.foot-nav ul								{display:inline;float:left;}
.foot-nav ul li								{display:inline;float:left;padding:0 2px 0 0;background:url(../images/foot-list-bg.gif) no-repeat right center;}
.foot-nav ul li a							{font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#363636;text-transform:uppercase;padding:0 6px 0 7px;}
.foot-nav ul li a:hover						{text-decoration:underline;}
.copy										{width:980px; margin:0 auto;padding:25px 0 30px 0;}
.copy p 									{font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#333333;margin:0 0 0 10px;}
.copy p a 									{text-decoration:underline;color:#333333;}
/* ---------------------------------------------------------*/

